body {
    background-color: #f6f6ff;
    font-family: Calibri, Myriad;
    font-size: 10pt;
    height: 100%;
}

div.container{
    width: 70%;
}

div.row{
    width: 100%;
}

div.main {
    width: 99%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

div.books {
    border: 1px solid black;
    width: 98%;
    margin-left: 10px;
    margin-right: 10px;
    flex: 1 0 auto;
}

table.books {
    text-align: center;
    width: 100%;
}

tr.clicked {
    background-color: #abc;
}

form.one {
    padding-top: 3px;
    padding-bottom: 3px;
    vertical-align: top;
}

div.addUpdateBook {
    border: 1px solid green;
    width: 545px;
}

div.addBook {
    border: 1px solid green;
    width: 270px;
    float: left;
}

form.addBook {
    width: 100%;
}

div.updateBook {
    border: 1px solid green;
    width: 270px;
    float: right;
}

form.updateBook {
    width: 100%;
}

.inputText {
    float: right;
}

div.findBooks {
    border: 1px solid green;
    width: 270px;
    float: right;
}

#contextMenu {
    position: absolute;
    display: none;
}

.wrap{
    width:90%;
    display:block;
    margin:0 auto;
}

/*tr:nth-child(even) {background: #F5F5F5}*/

tr{
    position:relative;
}

tr:hover{
    background:#c9e8f7;
    position:relative;
}