<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <TITLE>Моя библиотека</TITLE>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/swfobject.js"></script>

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/index.css">

</head>
<body>
<div class="main">

    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <a class="brand" href="/">Моя библиотека</a>
            <ul class="nav nav-pills">
                <li>
                    <form action="/" method="get" class="one">
                        <input type="submit" class="refButton" value="Все книги">
                    </form>
                </li>
                <li>
                    <form action="/all" method="get" class="one">
                        <input type="submit" class="refButton" value="Добавить">
                    </form>
                </li>
                <li>
                    <form action="/all" method="get" class="one">
                        <input type="submit" class="refButton" value="Обновить">
                    </form>
                </li>
                <li>
                    <form action="/all" method="get" class="one">
                        <input type="submit" class="refButton" value="Удалить">
                    </form>
                </li>
                <li>
                    <div class="search">
                        <form action="/one"  method="get" class="form-inline my-2 my-lg-0">
                            <input name="bookId" class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Поиск">
                            <button class="search" id="buttonSearch" type="submit">Найти</button>
                        </form>
                    </div>
                </li>

            </ul>
        </div>
    </div>

    <div class="books">
        <table class="books">
            <caption>Книги</caption>
            <thead>
            <tr>
                <th id="thBookID">ID</th>
                <th id="thBookName">Название</th>
                <th id="thBookAuthors">Авторы</th>
                <th id="thBookGenres">Жанры</th>
                <th id="thBookDescription">Описание</th>
            </tr>
            </thead>
            <tbody th:each="book : ${books}">
            <tr>
                <td><span th:text="${book.id}"></span></td>
                <td><span th:text="${book.name}"></span></td>
                <td>
                    <div th:each="author : ${book.authors}">
                        <div th:text="${author.firstName + ' ' + author.secondName + ' ' + author.thirdName}"></div>
                    </div>
                </td>
                <td>
                    <div th:each="genre : ${book.genres}">
                        <div th:text="${genre.name}"></div>
                    </div>
                </td>
                <td><span th:text="${book.description}"></span></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="footer">
        Copyright © 2020 Моя библиотека Все права защищены.
        <br>
        При использовании материалов сайта гиперссылка на <a href="/">Моя библиотека</a> обязательна.
    </div>
</div>
</body>
</html>