<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Fragments: home</title>
    <meta charset="UTF-8">
    <link href="index.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="main">
    <div>
        <table>
            <tr>
                <td>
                    <form action="/update" method="post" class="updateBook">
                        <table>
                            <tr>
                                <td>
                                    <label for="idU">Идентификатор</label>
                                    <input type="text" id="idU" name="bookId" class="inputText">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="nameU">Название</label>
                                    <input type="text" id="nameU" name="name" class="inputText">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="authorIdsU">Авторы</label>
                                    <input type="text" id="authorIdsU" name="authorIds" class="inputText">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="genreIdsU">Жанры</label>
                                    <input type="text" id="genreIdsU" name="genreIds" class="inputText">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="descriptionU">Описание</label>
                                    <input type="text" id="descriptionU" name="description" class="inputText">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="imagePathU">Обложка</label>
                                    <input type="text" id="imagePathU" name="imagePath" class="inputText">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="statusIdU">Статус</label>
                                    <input type="text" id="statusIdU" name="statusId" class="inputText">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" value="обновить книгу" class="inputText">
                                </td>
                            </tr>
                        </table>
                    </form>
                </td>
                <td>
                    <form action="/add" method="post" class="addBook">
                        <table>
                            <tr>
                                <td>
                                    <label for="name">Название</label>
                                    <input type="text" id="name" name="name" class="inputText">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="authorIds">Авторы</label>
                                    <input type="text" id="authorIds" name="authorIds" class="inputText">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="genreIds">Жанры</label>
                                    <input type="text" id="genreIds" name="genreIds" class="inputText">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="description">Описание</label>
                                    <input type="text" id="description" name="description" class="inputText">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="imagePath">Обложка</label>
                                    <input type="text" id="imagePath" name="imagePath" class="inputText">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="statusId">Статус</label>
                                    <input type="text" id="statusId" name="statusId" class="inputText">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="submit" value="добавить книгу" class="inputText">
                                </td>
                            </tr>
                        </table>
                    </form>
                </td>
                <td>
                    <form action="/all" method="get" class="one">
                        <input type="submit" value="показать все книги">
                    </form>
                    <form action="/one" method="get" class="one">
                        <label for="bookId">ID книги:</label><br>
                        <input type="text" id="bookId" name="bookId"><br>
                        <input type="submit" value="найти книгу по ID">
                    </form>
                    <form action="/remove" method="post" class="one">
                        <label for="bookIdDel">ID книги:</label><br>
                        <input type="text" id="bookIdDel" name="bookId"><br>
                        <input type="submit" value="удалить книгу по ID">
                    </form>
                </td>
            </tr>
        </table>
    </div>

    <div class="books">
        <table class="books">
            <caption>Книги</caption>
            <thead>
            <tr>
                <th id="thBookID">ID</th>
                <th id="thBookName">Название</th>
                <th id="thBookAuthors">Авторы</th>
                <th id="thBookGenres">Жанры</th>
                <th id="thBookDescription">Описание</th>
            </tr>
            </thead>
            <tbody th:each="book : ${books}">
            <tr>
                <td><span th:text="${book.id}"></span></td>
                <td><span th:text="${book.name}"></span></td>
                <td>
                    <div th:each="author : ${book.authors}">
                        <div th:text="${author.firstName + ' ' + author.secondName + ' ' + author.thirdName}"></div>
                    </div>
                </td>
                <td>
                    <div th:each="genre : ${book.genres}">
                        <div th:text="${genre.name}"></div>
                    </div>
                </td>
                <td><span th:text="${book.description}"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>